<a href="https://colab.research.google.com/github/alifele/Machine_learning/blob/master/basic_tecniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from google.colab import files




'''Set the defaults for your plots.'''
# plt.rcParams.update({'font.size': 20, 'figsize':(8,6)})
SMALL_SIZE = 12
MEDIUM_SIZE = 15
BIGGER_SIZE = 18

plt.rc('font', size=BIGGER_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=MEDIUM_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=BIGGER_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=MEDIUM_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

plt.rc('axes', linewidth = 5 )
plt.rc('lines', linewidth = 5 )

plt.rc('lines', markersize = 5 )

plt.rc('figure', figsize=(8,4) )         # Image size


import warnings
warnings.filterwarnings('ignore')

In [0]:
import io, requests, zipfile

In [39]:
url = 'https://www.dropbox.com/s/66dbhxl93y41coe/particle-identification-from-detector-responses.zip?dl=1'
s = requests.get(url, stream=True).content
data = pd.read_csv(io.BytesIO(s), compression = 'zip')

data.head()

     id         p     theta      beta  nphe       ein      eout
0   211  0.780041  1.081480  0.989962     0  0.000000  0.000000
1   211  0.260929  0.778892  0.902450     0  0.000000  0.000000
2  2212  0.773022  0.185953  0.642428     4  0.101900  0.000000
3   211  0.476997  0.445561  0.951471     0  0.000000  0.000000
4  2212  2.123290  0.337332  0.908652     0  0.034379  0.049256

In [0]:
from collections import Counter
targets = list(set(data['id']))
print('the targets are: ',targets)
target_freq = [dict(Counter(data['id']))[i] for i in targets]
print('the frequency of targets are: ',target_freq)
features = list (data.columns[1:])
print('the features are: ',features)


n_s = 10000
mini_data = data.sample(n_s, axis=0, random_state=0)
mini_data["target"] = mini_data['id'].apply(lambda x: targets.index(x))
minidata.drop('id', axis=1, inplace=True)
minidata.head()

In [0]:
a = {1,2,3,4,2,1,3,3,2,1,2,3,3,1,2,2,2,1,2,}
from collections import Counter 
c = Counter(a)
print(c[2])

a = dict(name='ali', number=123, loc=(12,43))
keey = a.keys()
print(keey)
print(keey[1])